<app-navbar></app-navbar>
<div class="services">
    <h1 class="serv-h1">Services We Offers</h1>
    <div class="services-sub-container">
        <div class="services-card">
            <h1 class="sc-h1">Web Designing</h1>
            <p class="sc-p1">Web development is a comprehensive process that involves creating, building, and maintaining websites. It encompasses various tasks such as web design, web publishing, web programming, and database management. The process can be broken down into several key steps to ensure a structured and efficient workflow.</p>
        </div>

        <div class="services-card">
            <h1 class="sc-h1">Video Editing</h1>
            <p class="sc-p1">A Video Editor is a professional who is responsible for taking the raw footage shot by a film crew and director, then turning it into one cohesive video or film. The Video Editor must follow an outline, script or shot list and any special instructions given about what should happen in each scene.</p>
        </div>

        <div class="services-card">
            <h1 class="sc-h1">PhotoShop</h1>
            <p class="sc-p1">Adobe Photoshop is basically a raster-based image editing software. With multiple layers and features such as masking, image wrapping tools, alpha compositing, fluid camera rotation, and file display tools, and much more advanced tools, Photoshop can edit and compose raster images..</p>
        </div>
    </div>

</div>
