<app-navbar></app-navbar>
<div class="home">
    <div class="home-left">
        <h1>Koribilli Srikanth</h1>
        <p>I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.
            I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.
            I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.I will tell about myself later.you</p>
    </div>

    <div class="home-right">
        <img class="images2" src="assets/LRM_EXPORT_37384918943990_20190512_164510281.jpg" alt="My Logo" width="250px" height="250px">

    </div>
</div>
